.nav {
    width: 100%;
    z-index: -1;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .nav ul li:hover,
  .nav ul li.active {
    box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
  }

/*=============== ABOUT ===============*/
.about__page {
  padding-bottom: 3rem;
}


.about__content {
  row-gap: 2rem;
}

.about__info {
  row-gap: 0.75rem;
  text-align: center;
}

.about__name {
  font-size: var(--h1-font-size);
  
}
.about__headers {
  margin-top:5px;
}

.about__profession {
  font-size: var(--h2-font-size);
}

.about__description p {
  color: var(--first-color);
  display: flexbox;
}

.about__button {
  justify-self: center;
}

.about__skills-title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 3rem;
}

.about__skills-img {
  position: relative;
  width: 55px;
  transition: transform 0.4s;
}

.about__skills-img:hover {
  transform: translateY(-0.5rem);

}

.about__skills-hover-text {
  position: absolute;
  font-size: var(--small-font-size);
  color: var(--text-color);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about__skills-img:hover .about__skills-hover-text {
  opacity: 1;
}

.about__skills-img .about__skills-hover-text::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--first-color);
  transition: width 0.3s ease;
  transition-delay: 0.3s; /* Délai avant l'apparition du soulignement */
}

.about__skills-img:hover .about__skills-hover-text::after {
  width: 100%;
}

.about__skills-content {
  grid-template-columns: repeat(12, max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem 2.5rem;
}